<footer class="bg-gradient-reverse-primary">
  <div class="container pt-2 pb-7">
    <div id="sib-form-container" class="sib-form-container">
      <div id="success-message" class="sib-form-message-panel alert alert-success alert-icon" role="alert">
        <i class="uil uil-check-circle"></i>
        <span class="sib-form-message-panel__inner-text">
          <span class="sib-form-message-panel__text">Your subscription is
            confirmed.</span>
        </span>
      </div>
      <div></div>
      <div id="error-message" class="sib-form-message-panel alert alert-danger alert-icon" role="alert">
        <i class="uil uil-times-circle"></i>
        <span class="sib-form-message-panel__inner-text">
          <span class="sib-form-message-panel__text">We ware unable to confirm your
            subscription.</span>
        </span>
      </div>

      <div class="card image-wrapper bg-full bg-image bg-overlay bg-overlay-400 mb-8"
        data-image-src="@@webRoot/assets/img/photos/bg2.jpg">
        <form class="card-body p-9 p-xl-11" id="sib-form" method="POST"
          action="https://830e954d.sibforms.com/serve/MUIEAKWAXujUmSG6b8pRC1zYUyquplm9nBjjgKT7_kUVIfaKvm3TsRgy6Qe3s1unFtv0IO7l-XgPwHuCKfmTzNr1pYs_mBbPbANALAV5Ptkn85iUyRia1nSKVay9CeHE6gue9K6ebTuEVBy7TVWG9xF9ZzG_ntC4gL7yI9XUNefYKUgfrCBcCSzspCGmefQeyFneQJdr1-0Jj0LF"
          data-type="subscription">
          <div class="row align-items-center gy-6">

            <div class="col-lg-6 col-xl-7">
              <div class="sib-form-block">
                <p class="display-5 text-white">Subscribe to our newsletter</p>
              </div>
              <div class="sib-form-block">
                <div class="sib-text-form-block">
                  <p class="lead pe-lg-12 mb-0 text-white">Subscribe to our newsletter to get our news &amp; deals
                    delivered to you. Don't worry, we hate spam
                    and we respect your privacy.</p>
                </div>
              </div>
            </div>
            <!-- /column -->
            <div class="col-lg-6 col-xl-5">
              <div class="sib-input sib-form-block">
                <div class="form__entry entry_block">
                  <div class="mc-field-group input-group">
                    <input class="input required email form-control border-0" type="text" id="EMAIL" name="EMAIL"
                      autocomplete="off" placeholder="Email" data-required="true" required />
                    <button class="btn btn-success" form="sib-form" type="submit">
                      <svg class="icon clickable__icon progress-indicator__icon sib-hide-loader-icon"
                        style="fill: #ffffff; width: 1rem; margin-right: .5rem;" viewBox="0 0 512 512">
                        <path
                          d="M460.116 373.846l-20.823-12.022c-5.541-3.199-7.54-10.159-4.663-15.874 30.137-59.886 28.343-131.652-5.386-189.946-33.641-58.394-94.896-95.833-161.827-99.676C261.028 55.961 256 50.751 256 44.352V20.309c0-6.904 5.808-12.337 12.703-11.982 83.556 4.306 160.163 50.864 202.11 123.677 42.063 72.696 44.079 162.316 6.031 236.832-3.14 6.148-10.75 8.461-16.728 5.01z" />
                      </svg>
                      Subscribe
                    </button>
                  </div>

                  <label class="entry__error entry__error--primary invalid-feedback">
                  </label>
                </div>
              </div>
            </div>

            <input type="text" name="email_address_check" value="" class="d-none">
            <input type="hidden" name="locale" value="fr">
        </form>
      </div>
    </div>
    @@include('_footer-mentions.html')
  </div>
  <!-- /.container -->
</footer>

<style>
  .sib-hide-loader-icon,
  .sib-form-message-panel {
    display: none;
  }

  .sib-form-message-panel--active {
    display: block;
  }
</style>
<!-- START - We recommend to place the below code in footer or bottom of your website html  -->
<script>
  window.REQUIRED_CODE_ERROR_MESSAGE = 'Please choose a country code';
  window.LOCALE = 'en';
  window.EMAIL_INVALID_MESSAGE = window.SMS_INVALID_MESSAGE =
    "Informations provided are not valid. Please check fields format and retry.";

  window.REQUIRED_ERROR_MESSAGE = "You must fill in this field.";

  window.GENERIC_INVALID_MESSAGE =
    "Informations provided are not valid. Please check fields format and retry.";


  window.translation = {
    common: {
      selectedList: '{quantity} selected list',
      selectedLists: '{quantity} selected lists'
    }
  };

  var AUTOHIDE = Boolean(0);
</script>
<script src="https://sibforms.com/forms/end-form/build/main.js"></script>