<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="@@webRoot/assets/img/favicon.png">
<title>LocoKit, the Low Code Kit platform</title>
<link rel="stylesheet" href="@@webRoot/assets/css/plugins.css">
<link rel="stylesheet" href="@@webRoot/assets/css/style.css">
<meta property="og:title" content="LocoKit">
<meta property="og:description" content="The Low Code Kit platform">
<meta property="og:image" content="@@webRoot/assets/img/thumbnail.png">