@@if (!context.centerLogo) {
<ul class="navbar-nav">
  }
  @@if (context.centerLogo) {
  <div class="w-100 order-1 order-lg-0 d-lg-flex">
    <ul class="navbar-nav ms-lg-auto">
      }
      @@if (context.centerLogo) {
    </ul>
    <!-- /.navbar-nav -->
  </div>
  <div class="w-100 order-3 order-lg-2 d-lg-flex">
    <ul class="navbar-nav me-lg-auto">
      }

      <li class="nav-item"><a class="nav-link" href="/demo.html">Demo</a>
      <li class="nav-item"><a class="nav-link" href="@@webRoot/docs/index.html">Documentation</a>
        <!--/.dropdown-menu -->
      </li>
      @@if (context.centerLogo) {
    </ul>
    <!-- /.navbar-nav -->
  </div>
  }
  @@if (!context.centerLogo) {
</ul>
<!-- /.navbar-nav -->
}